html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*My code starts here: 
Temporary code to make b/g and divs visible*/

body {
	background-color: LightGray;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
}

div {
	border: 1px solid Chocolate;
}

/* Custom Styles */
.content {
	padding: 0 15px;
}
/* Navigation Section */
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid #ddd;
}

.top-navigation > .content {
	margin: 0 auto;
	width: 970px;
	height: 70px;
}

.top-navigation .logo {
	height: 70px;
}

.top-navigation .links {
	float: right;
	color: #838994;
	font-size: 1.04rem;
	margin-top: 25px;
	letter-spacing: 0.02em;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}
/* Introduction Section */
.introduction {
	background-image: url(../images/first-background.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover; 
    height: 735px;
    overflow: auto;
 }

 .introduction .content {
 	margin: 0 auto;
	width: 970px;
	height: 70px;
	min-width: 600px;
	padding: 0 15px;
 }

.introduction h1 {
	margin-top: 279px;
	font-size: 3.125rem;
}

.introduction h3 {
	margin-top: 20px;
	font-size: 1.563rem;
}

.introduction h1,
.introduction h3 {
	color: white;
	text-align: center;
 	font-weight: 300;
 } 

 .big-button {
 	width: 155px;
 	background-color: #f15a29;
 	border-color: #f15a29;
 	text-shadow: none;
 	border-style: none;
 	border-radius: 4px;
 	padding: 16px 24px;
 	display: block;
 	color: white;
 	font-size: 1.125rem;
 	margin: 0 auto;
 	margin-top: 24px;
 }

 .big-button:hover {
 	background-color: #d9400e;
 	border-color: #cf3d0e;
 	cursor: pointer;
 }

/* Cases Section */

.cases {
	background-color: #fff;
	overflow: hidden;
	padding-bottom: 80px; 
}

.cases h2 {
	font-size: 2.75rem;
	margin: 26px 0 50px;
	font-weight: 300;
}

.cases .content {
	margin-top: 124.5px;
	color: #1d1e21;
	text-align: center;
}

.cases .devices > li {
	width: 30%;
	display: inline-block;
	margin-right: -8px;
	/* styles to assist with debugging */
	border: 1px solid black;
	box-sizing: border-box;
	height: 64px;
}

/* Footer Section */
.social {
	background-color: #fff;
	padding-bottom: 150px;
	text-align: center;
}


.social hr {
	border: 0;
	border-top: 1px solid #eaebec;
	margin: 21px 0;
}

.social .icons > li {
	border-radius: 20px;
	width: 40px;
	height: 40px;
	margin: 20px 5px;
	border: 1px solid #eaebec;
	padding: 10px 0;
	display: inline-block;
}

.fa-twitter {
	color: #55acee;
}

.fa-facebook {
	color: #4c66a4;
}

.fa-instagram {
	color: #3f729b;
}

.social .copy {
	font-size: 14px;
	font-weight: 300;
	color: #838994;
}










